body{
    background-attachment: fixed;
    background-image:url(images/pexels-robinstickel-70497.jpg);
    background-repeat: no-repeat;
}

div{
    text-align: center;
    text-decoration: aliceblue;
    
}

a{
    text-decoration: none;
}